@import url('https://fonts.cdnfonts.com/css/gilroy-bold');
body {
    max-width: 935px;

    margin: 0 auto;
    justify-content: center;
    font-family: Gilroy-Bold;
}
body img{
    max-width: 100%;
}
.header {
    display: flex;
    justify-content: space-between;
    padding: 32px 0 32px 0;
    font-size: 18px;
    font-family: Gilroy-Bold;
    flex-wrap: wrap;
    max-width: 935px;

}
.header a {
    color:#828282;;
}
a:hover {
    color: black;
    transition: 0.5s;
}
hr {
    border: 1px solid #828282;
}
.header_nickname {
    margin: 40px 0 40px 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.name {
    margin: 0;
    display: inline-block;
    left: 17.37%;
    right: 74.08%;
    top: 2.69%;
    bottom: 94.82%;
    font-size: 47px;
    line-height: 59px;
}
.basic_information {
    margin: 55px 70px 0 0;
    display: inline-block;
    font-family: 'Gilroy-Medium';
    font-size: 18px;

}
.website_translation {
    width: 70px;
    display: inline-block;
    font-size: 16px;
    transform: rotate(-90deg);
    margin:0 -70px 0 0  ;
}
.website_translation a {
    color: #828282;}
a:hover {
    max-width: 945px;
    color: black;
}
.my_photo {
    margin: 0 0 105px 0 ;
    display: flex;
}
.me {
    background: #F6F6F6;
    justify-content: center;
    align-content: center;
    height: 506px;
    top: 768px;
    font-family: 'Gilroy-Medium';

}
.header_me{
    font-size: 34px;
    display:flex;
    justify-content:center;
    padding: 120px 0 17px 0;
    color: #070707;
    font-family: Gilroy-Bold;


}
.about_me{
    display: flex;
    justify-content: center;

}
.about_me p{
    max-width: 480px;
    margin: 0 auto;
    max-height: 100px;
    text-align: center;
    font-size: 18px;
}

.all_abilities h1 {
    font-size: 34px;
    font-family: Gilroy-Bold;
    display: flex;
    justify-content: center;
    margin: 90px 0 0 0;
}
.work {
    margin: 69px 0 83px 0;
    display: flex;
    justify-content: center;
    font-size: 18px;
    font-family: 'Gilroy-Medium';
}

.programs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: #828282;
    margin: 0 0 70px 0;
}
.programs p{
    margin: 24px 0 40px 0;
    width: 80px;
    text-align: center;
}
.icon_photoshop {
    display: flex;
    justify-content: center;
}
.nick_photoshop {
    display: flex;
    justify-content: center;
}
.icon_star_photoshop {
    margin: 0 0 40px 0;
}
.icon_AI {
    display: flex;
    justify-content: center;
}

.nick_AI {
    display: flex;
    justify-content: center;
}
.icon_star_AI {
    display: flex;
    justify-content: center;
}

.icon_AE {
    display: flex;
    justify-content: center;
}
.icon_star_AE {
    display: flex;
    justify-content: center;
}
.nick_AE {
    display: flex;
    justify-content: center;
}

.icon_figma {
    display: flex;
    justify-content: center;
}
.nick_Figma {
    display: flex;
    justify-content: center;
    height: 92px;
}
.icon_star_Figma {
    display: flex;
    justify-content: center;
}

.portfolio h1{
    font-size: 34px;
    display: flex;
    justify-content: center;
    padding: 113px 0 47px 0;
}
.portfolio {
    background: #F6F6F6;
}
.portfolio_picture {
    padding: 0 0 45px 0;
}
.link_on_store_t-shirt {
    display: flex;
    justify-content: center;
    font-size: 18px;
    text-decoration:underline;

}
.link_on_store_t-shirt a{
    color:black;
    font-family: 'Gilroy-Medium';
    padding: 0 0 80px 0;
}
.Reebok_picture {
    padding: 0 0 45px 0;
}
.link_on_store_Reebok {
    display: flex;
    justify-content: center;
    font-size: 18px;
    text-decoration:underline;
}
.link_on_store_Reebok a{
    color:black;
    font-family: 'Gilroy-Medium';
    padding: 0 0 80px 0;
}

.Camera_picture {
    padding: 0 0 45px 0;
}

.link_on_store_Camera {
    display: flex;
    justify-content: center;
    font-size: 18px;
    text-decoration:underline;
}

.link_on_store_Camera a{
    color:black;
    font-family: 'Gilroy-Medium';
    padding: 0 0 80px 0;
}

.contacts h1{
    font-size: 34px;
    font-family: Gilroy-Bold;
    display: flex;
    justify-content: center;
    margin: 114px 0 0 0;
}

.contacts p{
    max-width: 300px;
    margin: 0 auto;
    max-height: 100px;
    text-align: center;
    font-size: 18px;
    font-family: 'Gilroy-Medium';
    padding: 20px 0 30px 0;
}
.contacts a{
    display: flex;
    justify-content: center;
    margin: 0 0 80px 0;
}

.icon_button {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: #828282;
    max-width: 400px;
    margin: 0 auto;
}

.End {
    font-size: 14px;
    color: #828282;
    margin: 45px 0 0 0;
    display: flex;
    justify-content: center;
    font-family: 'Gilroy-Medium';
    text-align: center;
    height: 100px;
}